@mixin flex_start() {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex_col_center() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

@mixin flex__center() {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@mixin flex_col() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin transition {
    transition: all .3s;
}

@mixin container {
    max-width: 1050px;
    margin: 0 auto;
}