// COLORS
$primary-color: #2B2B2B;
$secondary-color: #A259FF;
$color-white: #FFFFFF;
$color-gray: #858584;
$gray-darken: #3B3B3B;
$silver: #CCCCCC;
$color-green: #00AC4F;

// FONT-FAMALY
$font-family: 'Work Sans',
sans-serif;

// FONT-SIZE
$font-12: 12px;
$font-16: 16px;
$font-18: 18px;
$font-22: 22px;
$font-24: 24px;
$font-28: 28px;
$font-38: 38px;
$font-67: 67px;

//FONT-WEIGTH
$font-w-100: 100;
$font-w-300: 300;
$font-w-400: 400;
$font-w-500: 500;
$font-w-600: 600;
$font-w-700: 700;
$font-w-900: 900;

// PADDING
$p-0: 0;
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;
$p-10: 10rem;

// MARGIN
$m-0: 0;
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;
$m-10: 10rem;
$m-15: 15rem;